/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* === Color Palette Himatif === */
  --color-primary: #124076;
  --color-primary-blue-soft: #f1f3ff;
  --color-primary-light: #fbfbfb;
  --color-primary-dark: #0d0d0d;
  --color-accent: #e8f4fd;

  /* === Typography === */
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* === Spacing Custom === */
  --spacing-section: 5rem;
}
